/* public/css/app.css */

body {
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: auto; /* Added margin:auto to center the form horizontally */
}

label {
    margin-bottom: 8px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #0056b3;
}
.ck-editor__editable_inline
{
    height: 500px;
}
.check{
    display: flex;
    flex-direction: column;

}